/* Página Principal */

@font-face {
    font-family: convergence;
    src: url(font/rax5HiePvdgXPmmMHcIPYShdu08.woff2);
  }

html {
    margin: 0;
    font-family: convergence !important;
    background-image: url("images/header.png");
    /* background: rgba(202, 202, 202, 0.548);  */
    /* background-image: url(bg1.svg), 0.7; */
    min-height: 100%;
    max-width: 100%;
    min-height: stretch;
}

body {
    margin: 0px;
    margin-top: 0;
    min-height: auto;
    background-color: none !important;
}


main{
    max-width: 1300px;
    margin: auto;
    background: aliceblue;
    margin-top: 150px;
}

header img {
    display: block;
    margin: 0 auto;
    width: 306px;
    height: 96px;
    z-index: 19;
    top: 7px;
    margin-top: 3%;
    justify-content: center;
    
}

.lista1 { 
    text-decoration: none;
    margin-top: 3%;
}

.fundo {
    width: 101%;
    height: 430px;
    margin-top: -55px;
    margin-bottom: 95px;
    object-fit: cover;
    margin-top: 8%;
}

#rectangle {
    height: 11%;
    top: 0;
    background: rgba(255, 255, 255, 0.959);
    position: fixed;
    z-index: 19282;
    overflow: hidden;
    top: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: convergence;
    font-size: 1.75vw;
    font-weight: 600;
    margin-top: -20px;
}

nav ul li {
    color: black;
    /* background-color: rgba(3, 3, 3, 0.425);
    color: white;
    border-radius: 40px; */
    list-style-type: none;
}

nav ul li img {
    width: auto;
    height: auto;
}


.link {
    color: black;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

.link:hover {
    color: red;
    border-radius: 20px;
}

.lista1:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
    border: 5px red;
}



.frase {
    color: rgb(8, 0, 126);
    text-align: center;
    font-family: convergence;
    font-size: 35px;
    text-shadow: .2em .2em .3em silver;
    width: 405px;
    margin-top: -379px;
    margin-left: 72px;
}

.frase-servicos {
    margin-top: 200px;
}

/*
button {
    font-family: convergence;
    display: block;
    position: fixed;
    bottom: 140px;
    right: 20px;
    padding: 15px;
    background-color: rgba(255, 34, 34, 0.445);
    border-radius: 45px;
    margin: 0;
}
*/
.text{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 274px;
}
.text1 , .text2 , .text3 {
    text-align: center;
    font-weight: 15px;
    height: 30%;
    margin-top: 90px;
}

.text3 {
    margin-top: 0px;
    text-align: center;
}

.img1, .img2, .img3 {
    width: 50%;
    max-width: 100%;
}

.img1{
    margin-top: -60px;
    /* margin-left: -11px; */
}

.text2{
    flex-direction: row-reverse;
    margin-top: -1px;
}

.fundo {
    max-width: 100%;
}

.text2 
    .img2 {
    float: none;
}

.imgtexts{
    width: 40%;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    margin: auto;
}

@media screen and (max-width: 800px) {
    footer {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: left;  
        border-top: 4px solid rgba(255, 34, 34, 0.781); 
        min-width: 100%;
        background-color: rgba(70, 70, 70, 0.248);
    }

    footer p {
        font-size: 10px;
    }

    nav ul {
        position: fixed;
        z-index: 19283;
        top: 2.2%;
        left: 13.5%;
        width: 78%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-family: convergence;
        font-size: 1.75vw;
        border-style: dashed;
        border: 2px red;
        font-weight: 900;
        margin: 0;
    }

    nav ul li {
    background-color: rgba(3, 3, 3, 0.425);
    color: white;
    border-radius: 40px;
    width: 20%;
    height: 20%;
    margin: 1%;
    list-style-type: none;
    }

    nav ul li img {
        max-width: 36%;
        height: auto;
        left: -5px;
        top: -1px;
    }

    #rectangle {
        max-height: 63px;
    }
    
    .text, .flex_horario {
    font-size: 18px;
    }
    
    footer h4 , footer p {
    font-size: 13px;
    font-weight: 100 !important;
    }

    footer h6 {
    font-size: 9px;
    }

    footer img {
    margin-left: 7%;
    margin-right: 2%;
    }

    .telefone, .email , .telemovel {
    width: 145px;
    margin: auto;
    }

    .telemovel {
        margin-bottom: 20px;
    }

    .aligncontacts {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    margin: auto;
    }

    .text_contactos {
    margin-top: 130px;
    }
}

.time_title {
    color: rgb(8, 0, 126);
    text-align: center;
    font-family: convergence;
    font-size: 35px;
    text-shadow: 0.2em 0.2em 0.3em silver;
}

.clock_img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    margin-right: 59px;
    margin-left: 30px;
}

.seg_text {
    text-align: center;
    font-size: 14px;
    width: 504px;
    max-width: 100%;
    margin: auto;
}

.flex_horario {
    display: flex;
    flex-direction: row;
    width: 465px;
    margin: auto;
}

.seg23 {
    color: rgb(8, 0, 126);
    text-align: center;
    font-family: convergence;
    font-size: 35px;
    text-shadow: 0.2em 0.2em 0.3em silver;
    margin-top: 116px;
}


footer {
    position: sticky;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: left;  
    border-top: 4px solid rgba(255, 34, 34, 0.781); 
    min-width: 100%;
    background-color: rgba(70, 70, 70, 0.248) !important;
    z-index: 152545;
    background-color: grey !important;
} 


footer p {
    margin: 0;
    line-height: 20px;
}

footer h4 {
    font-size: 19px;
    font-weight: 600 !important;
    margin: 0;
    line-height: 20px;
    margin-bottom: 5px;

}

.alignfooter {
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-top: 0px;
    margin-left: 5px;
}

.alignfooter
    .morada, .contactos, .footerimg {
    font-size: 17px;
    font-weight: 100;
    border: 0px;
    margin: 0px 0px;
    line-height: 0.5;
    width: 30%;
    margin-top: 0; 
    
}

.contactos {
    line-height: 0.5;
    margin-left: 30px;
    font-size: 20px;
}

.contactos p {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer img {  
    display: row;
    max-width: 42px;
    height: auto;
    margin-left: 2%;  
    margin-right: 2%; 
}
.footerimg {
    width: 40%;
}

footer h4 {
    margin-top: 8px;
    font-style: initial;
}

footer h5 {
    top: -20px;
}

footer h6 {
    font-weight: 100;
    margin: 0;
}

.footercopy {
    font-size: 20px;
    width: 100%;
    height: 22px;
    text-align: center;
    border-top: 2px solid rgba(255, 34, 34, 0.781);
    background-color: black;
    color: white;
}





____________________________________________________________________
/* Página 2 - Serviços*/




.arrow {
    width: 40px; 
    height: 40px;
    margin-top: 5px;
}

.listaservicos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.listaservicos 
    .servlist {
    text-align: center;
    margin: 20px;
}

.simg {
    width: 348px;
    height: 233px;
    border-radius: 10px;
}

#serv {
    font-size: 36px;
    vertical-align: middle;
}

.textserv {
    text-align: center;
    margin-bottom: 30px;
}

.simg {
    width: 350px;
}

.servlist:hover {
    text-decoration: none;
}

#serv:hover {
    text-decoration: none;
}
____________________________________________________________________
/* Páginas específicas dos serviços */

.listaservicos2 {
    font-size: 1.5vw;
    margin-bottom: 15px;
    vertical-align: baseline;
    margin-left: 10px;
    margin-right: 20px;
    width: 460px;
    margin-right: 10px;
    }
    
.listaservicos2 
    .servlist2 {
        border-top: solid red 2px;
        width: 200px;
        box-sizing: content-box;
        height: 50px;
    }
    
.listaservicos2
    #serv2 {
        position: relative;
        bottom: -5px;
        border-left: 20px;
        color: rgb(7, 255, 69);
}

.listaservicos2:hover 
        .servlist2:hover
            #serv2:hover {
    text-decoration: none;
    color: rgba(255, 31, 31, 0.61);
}

.servlist2:hover {
    background-color: lightblue;
}

#layout {
    display: flex;
    flex-direction: row;
}



/*
#sidebox1 {
grid-row-start: 2;
grid-column-start: 2;
margin-left: 20px;
}

.serv_bkimg {
    width: 80%;
    height: 200px;
    opacity: 0.4;
    margin-left: 20px;
}

.serv_name {
    position: relative;

}
*/

.servlist2 img {
    margin-top: 5px;
    margin-right: 5px;
}

/*______________________________________________________
/* Odontodontia */

.serv_bkimg {
    width: 300px;
    position: static;
    opacity: 0.44;
    margin-bottom: 20px;
}

.title {
    margin-top: -10px;
    font-size: 32px;
}

#sidebox1 {
    margin: 0px 20px 20px 20px;
    text-align: justify;
    margin-right: 55px;
}



/* _________________________________________________________
Página Contactos */

.text_contactos, .whatsapp {
    text-align: center;
    font-size: 19px;
    line-height: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.text_contactos {
    margin-top: 40px;
}

@media screen and (min-width: 800px) {
    .aligncontacts {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .text1 , .text2 , .text3 {
        display: flex;
        text-align: initial;
        align-items: center;
    }

    .text2 
        .img2 {
            float: right;
    }

    .equipa1 {
        display: flex;
        flex-direction: row;
    }
    
    .equipa2 {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        margin-top: 136px;
    }

    .marlon, .sonia {
        margin-bottom: 30px;
    }

    nav ul li img {
        margin-right: 298px;
    }
}

.telefone, .telemovel, .email, .whatsapp2 {
    font-size: 15px;
    min-width: fit-content;
    text-align: center;
    border: solid rgb(100, 100, 100) 2px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45px;
    border-radius: 200px;
}

.telefone {
    padding: 5px;
    
}

.telefone:hover, .telemovel:hover, .email:hover {
    text-decoration-style: none;
    text-decoration-line: none !important;
    background-color: rgba(70, 70, 70, 0.248);


}

.contactslink:hover {
    text-decoration-line: none !important;
    color: rgba(255, 0, 0, 0.637) !important;
}

.whatsapp2 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.location1 {
    text-align: center;
    font-size: 25px;
    margin-top: 90px;
    margin-bottom: 11px;
}

.location2 {
    text-align: center;
}

.contactslink {
    padding: 5px;
    color: black;
}

.title_orto



/* __________________________________________________________________ 
Página Sobre Nós */

.teamtitle34 {
    font-size: 24px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 30px;
}

.teamtitle34 {
    text-align: center;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 30px;
}

.teamtitle2 {
    text-align: center;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 80px;
}

.sonia {
    margin-right: 20px;
    margin-left: 5px;
    width: 400px;
    height: 400px;
    margin-right: 20px;
}

.marlon {
    width: 400px;
    height: 400px;
    margin-right: 20px;
}

.equipa1 {
    text-align: center;
}

.equipa2 {
    text-align: center;

}

.cv_2, .cv_1 {
    text-align: initial;
}

.gallery {   
    text-align: center; 
    margin-bottom: 20px;
}


.mySlides {
    max-width: 100%;
    max-height: 617px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    border: solid rgb(32, 71, 178) 2px;

}

.mySlides, .sonia, .marlon, .seg1 {
    max-height: 617px;
    max-width: 100%;
}

.bright, .bleft {
    width: 3%;
    height: 4%;  
    color: rgb(255, 40, 40);
    background-color: rgb(32, 71, 178);
}

/*
.seg1 {
}
*/

.seg2 {
    width: 400px;
}

.seguros {
    text-align: center;
    margin-bottom: -3px;
}

